<!DOCTYPE html>
<html lang="en">
<head>
    <title>Joel Hilton</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/movieIcon.jpg" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<center>
    <body>
        <h1 class="textColor">@ViewBag.Title</h1>
        @RenderBody()
        <a class="w" asp-controller="Home" asp-action="addMovie">Link</a>
        <br />
        <br />
        <a class="w" asp-controller="Home" asp-action="bacon">My Podcast</a>
        <br />
        <br />
        <a class="w" asp-controller="Home" asp-action="index">Home</a>
        <br />
        <br />
        <footer class="textColor, footer">copywrite 2021 </footer>


    </body>
</center>
</html>
