<!DOCTYPE html>
<html lang="en">
<head>
    <title>Joel Hilton</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/movieIcon.jpg" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <h1>@ViewBag.Title</h1>
    @RenderBody()
    <br/>
    <br/>
    <footer>This Works baby less go </footer>

        <a asp-controller="Home" asp-action="addMovie">Link</a>
        <br/>
        <br/>
        <a asp-controller="Home" asp-action="bacon">My Podcast</a>
  
</body>
</html>
