@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Click On the Link to Access My Podcast! ";
}
<center>
<html class="textColor">
<body>
    <link href="~/css/StyleSheet.css" rel="stylesheet" />


    <a href="https://baconsale.com/">
        <img src="~/baconsale3.png" class="thumbnail" />
    </a>
</body>
</html>
</center>