@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "The movie " + Model.Title + " has been submitted!";
} 
<!--using razor to take from th emodels and output it depending on what is inputed. If independence day is inputed, then we don't want it to display the info -->
@model Assignment3Movies.Models.movie
<div class="textColor">
    <h2>Thank you for adding a movie to my collection! </h2>
    @if (Model.Title.ToUpper() != "INDEPENDENCE DAY")
    {
        <h1>Success!</h1>
        <p><b>@Model.Title</b> has been added to the collection </p>
    }
    else
    {
        <h1>Failure!</h1>
        <p><b>@Model.Title</b> is not the "Most American Movie Ever. Rockie IV is down-right AMERICAN! </p>
    }
</div>
<div class="textColor">
    Click <a asp-action="seeTheMovies">HERE</a> to see the movies that have been added!
</div>
