@{
    ViewBag.Title = "Joel Hilton Welcome Page";
}
<center>
    <!--index with minimal stuff-->
    <div class="textColor">
        <link href="~/css/StyleSheet.css" rel="stylesheet" />
        <p>The Joel Hilton Film Collection</p>
        <br />
        <br />
        <a href="https://www.facebook.com/joelrhilton"><img src="~/JoelHilton.jpg" /></a>
        <br />
        <br />


    </div>
</center>



